label {
	text-align: left;
	margin-top: 10px;
	display: inline-block;
	margin: 10px auto 0 auto;

}

.button {
	margin-top: 20px;
}

#errorblock {
	font-size: 24px;
	text-align: center;
	display: inline-block;

	color: #ff3124;
}

